<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="robot_mesh_file" value="package://odom_visualization/meshes/ardrone/ardrone.dae" />

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find quadrotor_mpc)/config/default.rviz" />

  <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch" />

  <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
    <remap from="~odom" to="/airsim_node/drone_1/odom_local_enu" />
    <param name="color/a" value="1.0" />
    <param name="color/r" value="1.0" />
    <param name="color/g" value="0.0" />
    <param name="color/b" value="0.0" />
    <param name="covariance_scale" value="100.0" />
    <param name="robot_scale" value="2.0" />
    <param name="mesh_resource" value="$(arg robot_mesh_file)" />
  </node>

</launch>